{% extends 'base.html' %}

{% block title %}- Dashboard{% endblock title %}

{% block content %}
    <main class="center-dashscreen">
        {% if not payments %}
            <h1 class="fw-light mb-4">Dashboard</h1>
            <p class="lead text-muted mb-4">No payments found.</p>
        {% else %}
            <div class="container my-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td scope="col">Date Added</td>
                            <td scope="col">Description</td>
                            <td scope="col">Expiration Date</td>
                            <td scope="col">Price</td>
                            <td scope="col">Day's Difference</td>
                            <td scope="col">Advance Payment</td>
                            <td scope="col">Pay now!</td>
                        </tr>
                        {% for p in payments %}
                        <tr>
                            <td>{{ p.date_added }}</td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.expiration_date }}</td>
                            <td>{{ p.price }}</td>
                            <td>{{ p.expiration_date|timeuntil }}</td>
                            <td>{{ p.days_left }}</td>
                            <td>{{payment_left}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
            <div class="card-group">
                <div class="card">
                    <div class="card-body" style="max-width: 18rem;">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="max-width: 18rem;">
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="max-width: 18rem;">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
    </main>
{% endblock content %}
