{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light mb-4">Advance Payment</h1>
                    <p class="lead text-muted mb-4">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="mb-1">Lucas Jaroszewski Nunes</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
{% endblock content %}
