{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}- Registration{% endblock title %}

{% block content %}
    <div class="center-screen container">
        <div class="d-flex justify-content-center">
            <form class="" action="" method="POST">
            {% csrf_token %}
                <fieldset class="form-group text-left mb-4">
                    <div class="text-center mb-4">
                        <legend class="border-border">Account Creation</legend>
                        <small class="text-muted">
                            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-secondary" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
